*{box-sizing: border-box;}
body{
    margin: 0;
    padding: 0;

}
nav{
    background-color: antiquewhite;
    color: black;
    width: 100%;
    height: 25px;
   text-align: justify;
}
a{
    text-align:center ;
    padding: 8px;
}